

.card {
    height: 70vh;
    font-size: 18px;
}
.header-container {
    background-color: #1e2333;
    color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headline-container {
    display: block;
    text-align: start;
    max-width: 400px
}
.headline-container > h1 {
    font-size: 60px;
}
.headline-container > button {
    all: unset;
    background-color: white;
    color: black;
    padding: 15px 20px;
    margin: 40px 0;
    border-radius: 10px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefit-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.benefit-item {
    width: 200px;
}